
.gitattributes
ProjectMia/Content/Characters/BP_Miachar.uasset
ProjectMia/Content/Geometry/Meshes/1M_Cube.uasset
ProjectMia/Content/Geometry/Meshes/1M_Cube_Chamfer.uasset
ProjectMia/Content/Geometry/Meshes/CubeMaterial.uasset
ProjectMia/Content/Geometry/Meshes/TemplateFloor.uasset
ProjectMia/Content/Mannequin/Animations/ThirdPerson_AnimBP.uasset
ProjectMia/Content/Mannequin/Animations/ThirdPerson_IdleRun_2D.uasset
ProjectMia/Content/Mannequin/Animations/ThirdPerson_Jump.uasset
ProjectMia/Content/Mannequin/Animations/ThirdPersonIdle.uasset
ProjectMia/Content/Mannequin/Animations/ThirdPersonJump_End.uasset
ProjectMia/Content/Mannequin/Animations/ThirdPersonJump_Loop.uasset
ProjectMia/Content/Mannequin/Animations/ThirdPersonJump_Start.uasset
ProjectMia/Content/Mannequin/Animations/ThirdPersonRun.uasset
ProjectMia/Content/Mannequin/Animations/ThirdPersonWalk.uasset
ProjectMia/Content/Mannequin/Character/Materials/M_Male_Body.uasset
ProjectMia/Content/Mannequin/Character/Materials/M_UE4Man_ChestLogo.uasset
ProjectMia/Content/Mannequin/Character/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
ProjectMia/Content/Mannequin/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
ProjectMia/Content/Mannequin/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
ProjectMia/Content/Mannequin/Character/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
ProjectMia/Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Aluminum01.uasset
ProjectMia/Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
ProjectMia/Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
ProjectMia/Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
ProjectMia/Content/Mannequin/Character/Materials/MI_Female_Body.uasset
ProjectMia/Content/Mannequin/Character/Mesh/SK_Mannequin.uasset
ProjectMia/Content/Mannequin/Character/Mesh/SK_Mannequin_Female.uasset
ProjectMia/Content/Mannequin/Character/Mesh/SK_Mannequin_Female_PhysicsAsset.uasset
ProjectMia/Content/Mannequin/Character/Mesh/SK_Mannequin_PhysicsAsset.uasset
ProjectMia/Content/Mannequin/Character/Mesh/UE4_Mannequin_Skeleton.uasset
ProjectMia/Content/Mannequin/Character/Textures/T_Female_Mask.uasset
ProjectMia/Content/Mannequin/Character/Textures/T_Female_N.uasset
ProjectMia/Content/Mannequin/Character/Textures/T_Male_Mask.uasset
ProjectMia/Content/Mannequin/Character/Textures/T_Male_N.uasset
ProjectMia/Content/Mannequin/Character/Textures/T_UE4Logo_Mask.uasset
ProjectMia/Content/Mannequin/Character/Textures/T_UE4Logo_N.uasset
ProjectMia/Content/StarterContent/Architecture/Floor_400x400.uasset
ProjectMia/Content/StarterContent/Architecture/Pillar_50x500.uasset
ProjectMia/Content/StarterContent/Architecture/SM_AssetPlatform.uasset
ProjectMia/Content/StarterContent/Architecture/Wall_400x200.uasset
ProjectMia/Content/StarterContent/Architecture/Wall_400x300.uasset
ProjectMia/Content/StarterContent/Architecture/Wall_400x400.uasset
ProjectMia/Content/StarterContent/Architecture/Wall_500x500.uasset
ProjectMia/Content/StarterContent/Architecture/Wall_Door_400x300.uasset
ProjectMia/Content/StarterContent/Architecture/Wall_Door_400x400.uasset
ProjectMia/Content/StarterContent/Architecture/Wall_Window_400x300.uasset
ProjectMia/Content/StarterContent/Architecture/Wall_Window_400x400.uasset
ProjectMia/Content/StarterContent/Audio/Collapse01.uasset
ProjectMia/Content/StarterContent/Audio/Collapse02.uasset
ProjectMia/Content/StarterContent/Audio/Collapse_Cue.uasset
ProjectMia/Content/StarterContent/Audio/Explosion01.uasset
ProjectMia/Content/StarterContent/Audio/Explosion02.uasset
ProjectMia/Content/StarterContent/Audio/Explosion_Cue.uasset
ProjectMia/Content/StarterContent/Audio/Fire01.uasset
ProjectMia/Content/StarterContent/Audio/Fire01_Cue.uasset
ProjectMia/Content/StarterContent/Audio/Fire_Sparks01.uasset
ProjectMia/Content/StarterContent/Audio/Fire_Sparks01_Cue.uasset
ProjectMia/Content/StarterContent/Audio/Light01.uasset
ProjectMia/Content/StarterContent/Audio/Light01_Cue.uasset
ProjectMia/Content/StarterContent/Audio/Light02.uasset
ProjectMia/Content/StarterContent/Audio/Light02_Cue.uasset
ProjectMia/Content/StarterContent/Audio/Smoke01.uasset
ProjectMia/Content/StarterContent/Audio/Smoke01_Cue.uasset
ProjectMia/Content/StarterContent/Audio/Starter_Background_Cue.uasset
ProjectMia/Content/StarterContent/Audio/Starter_Birds01.uasset
ProjectMia/Content/StarterContent/Audio/Starter_Music01.uasset
ProjectMia/Content/StarterContent/Audio/Starter_Music_Cue.uasset
ProjectMia/Content/StarterContent/Audio/Starter_Wind05.uasset
ProjectMia/Content/StarterContent/Audio/Starter_Wind06.uasset
ProjectMia/Content/StarterContent/Audio/Steam01.uasset
ProjectMia/Content/StarterContent/Audio/Steam01_Cue.uasset
ProjectMia/Content/StarterContent/Blueprints/Assets/FogBrightnessLUT.uasset
ProjectMia/Content/StarterContent/Blueprints/Assets/M_LightStage_Arrows.uasset
ProjectMia/Content/StarterContent/Blueprints/Assets/M_LightStage_Skybox_Black.uasset
ProjectMia/Content/StarterContent/Blueprints/Assets/M_LightStage_Skybox_HDRI.uasset
ProjectMia/Content/StarterContent/Blueprints/Assets/M_LightStage_Skybox_Master.uasset
ProjectMia/Content/StarterContent/Blueprints/Assets/Skybox.uasset
ProjectMia/Content/StarterContent/Blueprints/Assets/SM_Arrows.uasset
ProjectMia/Content/StarterContent/Blueprints/Assets/SunlightColorLUT.uasset
ProjectMia/Content/StarterContent/Blueprints/Blueprint_CeilingLight.uasset
ProjectMia/Content/StarterContent/Blueprints/Blueprint_Effect_Explosion.uasset
ProjectMia/Content/StarterContent/Blueprints/Blueprint_Effect_Fire.uasset
ProjectMia/Content/StarterContent/Blueprints/Blueprint_Effect_Smoke.uasset
ProjectMia/Content/StarterContent/Blueprints/Blueprint_Effect_Sparks.uasset
ProjectMia/Content/StarterContent/Blueprints/Blueprint_Effect_Steam.uasset
ProjectMia/Content/StarterContent/Blueprints/Blueprint_WallSconce.uasset
ProjectMia/Content/StarterContent/Blueprints/BP_LightStudio.uasset
ProjectMia/Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
ProjectMia/Content/StarterContent/Maps/Advanced_Lighting.umap
ProjectMia/Content/StarterContent/Maps/Advanced_Lighting_BuiltData.uasset
ProjectMia/Content/StarterContent/Maps/Minimal_Default.umap
ProjectMia/Content/StarterContent/Maps/Minimal_Default_BuiltData.uasset
ProjectMia/Content/StarterContent/Maps/StarterMap.umap
ProjectMia/Content/StarterContent/Maps/StarterMap_BuiltData.uasset
ProjectMia/Content/StarterContent/Materials/M_AssetPlatform.uasset
ProjectMia/Content/StarterContent/Materials/M_Basic_Floor.uasset
ProjectMia/Content/StarterContent/Materials/M_Basic_Wall.uasset
ProjectMia/Content/StarterContent/Materials/M_Brick_Clay_Beveled.uasset
ProjectMia/Content/StarterContent/Materials/M_Brick_Clay_New.uasset
ProjectMia/Content/StarterContent/Materials/M_Brick_Clay_Old.uasset
ProjectMia/Content/StarterContent/Materials/M_Brick_Cut_Stone.uasset
ProjectMia/Content/StarterContent/Materials/M_Brick_Hewn_Stone.uasset
ProjectMia/Content/StarterContent/Materials/M_Ceramic_Tile_Checker.uasset
ProjectMia/Content/StarterContent/Materials/M_CobbleStone_Pebble.uasset
ProjectMia/Content/StarterContent/Materials/M_CobbleStone_Rough.uasset
ProjectMia/Content/StarterContent/Materials/M_CobbleStone_Smooth.uasset
ProjectMia/Content/StarterContent/Materials/M_ColorGrid_LowSpec.uasset
ProjectMia/Content/StarterContent/Materials/M_Concrete_Grime.uasset
ProjectMia/Content/StarterContent/Materials/M_Concrete_Panels.uasset
ProjectMia/Content/StarterContent/Materials/M_Concrete_Poured.uasset
ProjectMia/Content/StarterContent/Materials/M_Concrete_Tiles.uasset
ProjectMia/Content/StarterContent/Materials/M_Glass.uasset
ProjectMia/Content/StarterContent/Materials/M_Ground_Grass.uasset
ProjectMia/Content/StarterContent/Materials/M_Ground_Gravel.uasset
ProjectMia/Content/StarterContent/Materials/M_Ground_Moss.uasset
ProjectMia/Content/StarterContent/Materials/M_Metal_Brushed_Nickel.uasset
ProjectMia/Content/StarterContent/Materials/M_Metal_Burnished_Steel.uasset
ProjectMia/Content/StarterContent/Materials/M_Metal_Chrome.uasset
ProjectMia/Content/StarterContent/Materials/M_Metal_Copper.uasset
ProjectMia/Content/StarterContent/Materials/M_Metal_Gold.uasset
ProjectMia/Content/StarterContent/Materials/M_Metal_Rust.uasset
ProjectMia/Content/StarterContent/Materials/M_Metal_Steel.uasset
ProjectMia/Content/StarterContent/Materials/M_Rock_Basalt.uasset
ProjectMia/Content/StarterContent/Materials/M_Rock_Marble_Polished.uasset
ProjectMia/Content/StarterContent/Materials/M_Rock_Sandstone.uasset
ProjectMia/Content/StarterContent/Materials/M_Rock_Slate.uasset
ProjectMia/Content/StarterContent/Materials/M_Tech_Checker_Dot.uasset
ProjectMia/Content/StarterContent/Materials/M_Tech_Hex_Tile.uasset
ProjectMia/Content/StarterContent/Materials/M_Tech_Hex_Tile_Pulse.uasset
ProjectMia/Content/StarterContent/Materials/M_Tech_Panel.uasset
ProjectMia/Content/StarterContent/Materials/M_Water_Lake.uasset
ProjectMia/Content/StarterContent/Materials/M_Water_Ocean.uasset
ProjectMia/Content/StarterContent/Materials/M_Wood_Floor_Walnut_Polished.uasset
ProjectMia/Content/StarterContent/Materials/M_Wood_Floor_Walnut_Worn.uasset
ProjectMia/Content/StarterContent/Materials/M_Wood_Oak.uasset
ProjectMia/Content/StarterContent/Materials/M_Wood_Pine.uasset
ProjectMia/Content/StarterContent/Materials/M_Wood_Walnut.uasset
ProjectMia/Content/StarterContent/Particles/Materials/M_Burst.uasset
ProjectMia/Content/StarterContent/Particles/Materials/M_Dust_Particle.uasset
ProjectMia/Content/StarterContent/Particles/Materials/M_explosion_subUV.uasset
ProjectMia/Content/StarterContent/Particles/Materials/M_Fire_SubUV.uasset
ProjectMia/Content/StarterContent/Particles/Materials/m_flare_01.uasset
ProjectMia/Content/StarterContent/Particles/Materials/M_Heat_Distortion.uasset
ProjectMia/Content/StarterContent/Particles/Materials/M_Radial_Gradient.uasset
ProjectMia/Content/StarterContent/Particles/Materials/M_radial_ramp.uasset
ProjectMia/Content/StarterContent/Particles/Materials/M_smoke_subUV.uasset
ProjectMia/Content/StarterContent/Particles/Materials/M_Spark.uasset
ProjectMia/Content/StarterContent/Particles/P_Ambient_Dust.uasset
ProjectMia/Content/StarterContent/Particles/P_Explosion.uasset
ProjectMia/Content/StarterContent/Particles/P_Fire.uasset
ProjectMia/Content/StarterContent/Particles/P_Smoke.uasset
ProjectMia/Content/StarterContent/Particles/P_Sparks.uasset
ProjectMia/Content/StarterContent/Particles/P_Steam_Lit.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_Bush.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_Chair.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_Door.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_Frame.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_Lamp.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_MaterialSphere.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_MaterialSphere_Plain.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_Rock.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_Shelf.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_Statue.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_StatueGlass.uasset
ProjectMia/Content/StarterContent/Props/Materials/M_TableRound.uasset
ProjectMia/Content/StarterContent/Props/MaterialSphere.uasset
ProjectMia/Content/StarterContent/Props/SM_Bush.uasset
ProjectMia/Content/StarterContent/Props/SM_Chair.uasset
ProjectMia/Content/StarterContent/Props/SM_CornerFrame.uasset
ProjectMia/Content/StarterContent/Props/SM_Couch.uasset
ProjectMia/Content/StarterContent/Props/SM_Door.uasset
ProjectMia/Content/StarterContent/Props/SM_DoorFrame.uasset
ProjectMia/Content/StarterContent/Props/SM_GlassWindow.uasset
ProjectMia/Content/StarterContent/Props/SM_Lamp_Ceiling.uasset
ProjectMia/Content/StarterContent/Props/SM_Lamp_Wall.uasset
ProjectMia/Content/StarterContent/Props/SM_MatPreviewMesh_02.uasset
ProjectMia/Content/StarterContent/Props/SM_PillarFrame.uasset
ProjectMia/Content/StarterContent/Props/SM_PillarFrame300.uasset
ProjectMia/Content/StarterContent/Props/SM_Rock.uasset
ProjectMia/Content/StarterContent/Props/SM_Shelf.uasset
ProjectMia/Content/StarterContent/Props/SM_Stairs.uasset
ProjectMia/Content/StarterContent/Props/SM_Statue.uasset
ProjectMia/Content/StarterContent/Props/SM_TableRound.uasset
ProjectMia/Content/StarterContent/Props/SM_WindowFrame.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Cone.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Cube.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Cylinder.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_NarrowCapsule.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Pipe.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Pipe_180.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Pipe_90.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Plane.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_QuadPyramid.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Sphere.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Torus.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Trim.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Trim_90_In.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Trim_90_Out.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_TriPyramid.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Tube.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Wedge_A.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_Wedge_B.uasset
ProjectMia/Content/StarterContent/Shapes/Shape_WideCapsule.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Clay_Beveled_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Clay_Beveled_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Clay_Beveled_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Clay_New_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Clay_New_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Clay_New_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Clay_Old_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Clay_Old_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Cut_Stone_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Cut_Stone_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Hewn_Stone_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Hewn_Stone_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Brick_Hewn_Stone_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Burst_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Bush_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Bush_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Ceramic_Tile_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Ceramic_Tile_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Chair_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Chair_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Checker_Noise_M.uasset
ProjectMia/Content/StarterContent/Textures/T_CobbleStone_Pebble_D.uasset
ProjectMia/Content/StarterContent/Textures/T_CobbleStone_Pebble_M.uasset
ProjectMia/Content/StarterContent/Textures/T_CobbleStone_Pebble_N.uasset
ProjectMia/Content/StarterContent/Textures/T_CobbleStone_Rough_D.uasset
ProjectMia/Content/StarterContent/Textures/T_CobbleStone_Rough_N.uasset
ProjectMia/Content/StarterContent/Textures/T_CobbleStone_Smooth_D.uasset
ProjectMia/Content/StarterContent/Textures/T_CobbleStone_Smooth_M.uasset
ProjectMia/Content/StarterContent/Textures/T_CobbleStone_Smooth_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Concrete_Grime_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Concrete_Panels_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Concrete_Panels_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Concrete_Poured_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Concrete_Poured_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Concrete_Tiles_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Concrete_Tiles_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Concrete_Tiles_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Concrete_Tiles_Variation_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Detail_Rocky_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Door_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Door_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Dust_Particle_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Explosion_SubUV.uasset
ProjectMia/Content/StarterContent/Textures/T_Fire_SubUV.uasset
ProjectMia/Content/StarterContent/Textures/T_Fire_Tiled_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Frame_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Frame_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Gradinet_01.uasset
ProjectMia/Content/StarterContent/Textures/T_Ground_Grass_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Ground_Grass_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Ground_Gravel_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Ground_Gravel_N.uasset
ProjectMia/Content/StarterContent/Textures/T_ground_Moss_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Ground_Moss_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Lamp_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Lamp_N.uasset
ProjectMia/Content/StarterContent/Textures/T_MacroVariation.uasset
ProjectMia/Content/StarterContent/Textures/T_Metal_Aluminum_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Metal_Copper_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Metal_Gold_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Metal_Gold_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Metal_Rust_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Metal_Rust_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Metal_Steel_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Metal_Steel_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Perlin_Noise_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Rock_Basalt_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Rock_Basalt_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Rock_Marble_Polished_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Rock_Sandstone_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Rock_Sandstone_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Rock_Slate_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Rock_Slate_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Rock_Smooth_Granite_D.uasset
ProjectMia/Content/StarterContent/Textures/T_RockMesh_M.uasset
ProjectMia/Content/StarterContent/Textures/T_RockMesh_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Shelf_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Shelf_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Single_Tile_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Smoke_SubUV.uasset
ProjectMia/Content/StarterContent/Textures/T_Smoke_Tiled_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Spark_Core.uasset
ProjectMia/Content/StarterContent/Textures/T_Statue_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Statue_N.uasset
ProjectMia/Content/StarterContent/Textures/T_TableRound_M.uasset
ProjectMia/Content/StarterContent/Textures/T_TableRound_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Tech_Dot_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Tech_Dot_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Tech_Hex_Tile_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Tech_Hex_Tile_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Tech_Panel_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Tech_Panel_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Water_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Water_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Wood_Floor_Walnut_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Wood_Floor_Walnut_M.uasset
ProjectMia/Content/StarterContent/Textures/T_Wood_Floor_Walnut_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Wood_Oak_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Wood_Oak_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Wood_Pine_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Wood_Pine_N.uasset
ProjectMia/Content/StarterContent/Textures/T_Wood_Walnut_D.uasset
ProjectMia/Content/StarterContent/Textures/T_Wood_Walnut_N.uasset
ProjectMia/Content/ThirdPerson/Meshes/Bump_StaticMesh.uasset
ProjectMia/Content/ThirdPerson/Meshes/LeftArm_StaticMesh.uasset
ProjectMia/Content/ThirdPerson/Meshes/Linear_Stair_StaticMesh.uasset
ProjectMia/Content/ThirdPerson/Meshes/Ramp_StaticMesh.uasset
ProjectMia/Content/ThirdPerson/Meshes/RampMaterial.uasset
ProjectMia/Content/ThirdPerson/Meshes/RightArm_StaticMesh.uasset
ProjectMia/Content/ThirdPersonBP/Blueprints/ThirdPersonCharacter.uasset
ProjectMia/Content/ThirdPersonBP/Blueprints/ThirdPersonGameMode.uasset
ProjectMia/Content/ThirdPersonBP/Maps/ThirdPersonExampleMap.umap
ProjectMia/Content/ThirdPersonBP/Maps/ThirdPersonExampleMap_BuiltData.uasset
ProjectMia/Content/ThirdPersonBP/ThirdPersonOverview.uasset
ProjectMia/Intermediate/CachedAssetRegistry.bin
ProjectMia/ProjectMia.uproject
ProjectMia/Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonCharacter_Auto2.uasset
ProjectMia/Saved/Autosaves/Game/ThirdPersonBP/Blueprints/ThirdPersonGameMode_Auto3.uasset
ProjectMia/Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto1.umap
ProjectMia/Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto3.umap
ProjectMia/Saved/AutoScreenshot.png
ProjectMia/Saved/Config/CrashReportClient/UECC-Windows-19D05B784C00640C45C814A1461F29F2/CrashReportClient.ini
ProjectMia/Saved/Config/CrashReportClient/UECC-Windows-1BA8C889404CB17DCB2873AAFAF057B9/CrashReportClient.ini
ProjectMia/Saved/Config/CrashReportClient/UECC-Windows-26E54C0D4C2A82B48EFE5FA06EBD4206/CrashReportClient.ini
ProjectMia/Saved/Config/CrashReportClient/UECC-Windows-4C5AF50043BCE3110CBEC9A599B277AD/CrashReportClient.ini
ProjectMia/Saved/Config/CrashReportClient/UECC-Windows-5D6B7E4A4156F8CB8E8198BEAB15DD80/CrashReportClient.ini
ProjectMia/Saved/Config/CrashReportClient/UECC-Windows-64ACD13C44ACE4395F82559499871306/CrashReportClient.ini
ProjectMia/Saved/Config/CrashReportClient/UECC-Windows-C20A83E948DD370E9FF0CEADB196DCD1/CrashReportClient.ini
ProjectMia/Saved/Config/CrashReportClient/UECC-Windows-EB486D4248D40089A990EEA4B0FDA711/CrashReportClient.ini
ProjectMia/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
ProjectMia/Saved/Logs/ProjectMia-backup-2021.08.09-15.54.04.log
ProjectMia/Saved/Logs/ProjectMia-backup-2021.08.09-16.31.50.log
ProjectMia/Saved/Logs/ProjectMia-backup-2021.08.10-19.33.40.log
ProjectMia/Saved/Logs/ProjectMia-backup-2021.08.11-11.32.00.log
ProjectMia/Saved/Logs/ProjectMia.log
*.uasset
*.umap
*.umap
*.png
*.umap
ProjectMia/Content/Mannequin/Animations/ThirdPerson_IdleRun_2D.uasset
ProjectMia/Content/Mannequin/Animations/ThirdPerson_AnimBP.uasset
*.uasset
